.button {
    font: inherit;
    border: 1px solid #00025e;
    background: #00025e;
    color: white;
    padding: 0.75rem 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 30px;
}

.button:hover,
.button:active {
    background: #120a72;
    border-color: #120a72;
}

.button:focus {
    outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
}
